    <div class="container">
        <form method="POST" action="/tipoproduto">
            <div class="my-3">
                <label for="id-input-id" class="form-label">ID</label>
                <input type="text" id="id-input-id" class="form-control" value="#" disabled>
            </div>
            <div class="my-3">
                <label for="id-input-descricao" class="form-label">Descrição</label>
                <input type="text" name="descricao" id="id-input-descricao" class="form-control"
                    placeholder="Digite a descricao do tipo de produto. Ex: Pizza" required>
            </div>
            <div class="my-3">
                <button type="submit" class="btn btn-outline-primary">Enviar</button>
                <a href="/tipoproduto" class="btn btn-outline-primary">Voltar</a>
            </div>
        </form>
    </div>