<div class="container">
    <form method="post" action="/usuario" class="mt-4">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="mb-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id-input-id" value="#" disabled readonly>
        </div>

        <div class="mb-3">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="id-input-nome"
                placeholder="Digite o nome do usu치rio. Ex: Fulano" name="nome" required>
        </div>

        <div class="mb-3">
            <label for="id-input-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="id-input-email"
                placeholder="Digite o email do usu치rio. Ex: fulano@gmail.com" name="email" required>
        </div>

        <div class="mb-3">
            <label for="id-input-senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="id-input-senha"
                placeholder="Digite a senha do usu치rio." name="senha" required>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Criar Usu치rio</button>
            <a href="/usuario" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
</div>

<script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"></script>
